body {
  margin: 0px;
  background-color: #01B9DB;
  font-family:'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
}

header {
  background-color: #049DBF ;
}
button {
  font-family:'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  background-color: #049DBF;
  border-radius: 15px;
  padding: 10px;
}

.mar-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-w {
  max-width: 1440px;
}
.flex {
  display: flex;
}
.jc-end{
  justify-content: flex-end;
}
.items-center {
  align-items: center;
}
.flow-w {
  flex-flow: wrap;
}
.direction-col{
  flex-direction: column;
}
.flow-cnw{
  flex-flow: column;
}
.pl-10{
  padding-left: 10px;
}
.pl-15{
  padding-left: 12px;
}
.pr-25{
  padding-right: 25px;
}
.pr-15{
  padding-right: 15px;
}
.pt-15{
  padding-top: 15px;
}
.pb-15{
  padding-bottom: 15px;
}
.margin-left{
  margin-left: 10px;
}
.margin-left-20{
  margin-left: 20px;
}
.margin-right {
  margin-right: 15px;
}
.margin-top{
  margin-top: 10px;
}
.margin-top-56{
  margin-top: 56px;
}
.margin-bot{
  margin-bottom: 10px;
}
.justify-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.no-underline{
  text-decoration: none;
}
.relative{
  position: relative;
}
.z-10 {
  z-index: 10px;
}
.top-53{
  top:-53px
}

.bottom-reduce {
  bottom: 0px;
}

.absolute {
  position: absolute;
}
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.f-wrap{
  flex-wrap: wrap;
}
.text-size {
  font-size: 16px;
}
.f-start {
  justify-content: flex-start;
}